<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title> {% if page.title %} {{ page.title }} | {% endif %} Utvikle apps | App utvikling for iPhone + Android</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="Frontkom">

    <link href="/assets/css/bootstrap.css" rel="stylesheet">
    <link href="/assets/css/flat-ui.css" rel="stylesheet">
    <link href="/assets/css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/revolution.css" media="screen"/>
    <link rel="stylesheet" href="/assets/css/media-slideshow.css" media="screen"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/assets/js/html5shiv.js"></script>
      <script src="/assets/js/respond.min.js"></script>
    <![endif]-->
    
    <script type="text/javascript" src="/assets/js/modernizr.custom.79639.js"></script> 

  </head>

  <body>

    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-NPMB9N"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NPMB9N');</script>
    <!-- End Google Tag Manager -->
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Apputvikling</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="">
                <a href="/ios">iOS apps</a>
              </li>
               <li class="">
                <a href="/android">Android apps</a>
              </li>
              <li class="">
                <a href="/html5-vs-app">Mobil web vs ekte app</a>
              </li>
              <li class="">
                <a href="/metode/">Prosjektmetoder</a>
              </li>
              <li class="">
                <a href="/referanser/">Referanser</a>
              </li>
              <li class="">
                <a href="/kontakt">Kontakt</a>
              </li>
            
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>


  {{ content }}
  
  
  <!-- FOOTER -->
    <div id="f">
      <div class="container">
        <div class="row">
          <h5 class="centered">Kontakt oss for apps</h5>
          <br>
          
          <div class="col-lg-4">
            <p>OM <b>FRONT</b> APPUTVIKLING</p>
            <p class="muted"><a href="http://www.apputvikling.no">Apputvikling.no</a> er en avdeling av <a href="http://www.frontkom.no">Frontkom</a>, og holder til i Gamlebyen i Fredrikstad. <br><strong>Telefon: 69 30 44 00</strong>.</p>
          </div>

          <div class="col-lg-4">
            <p>Hovedkontor</p>
            <p><small>
              Torvgaten 64<br/>
              1632 Gamle Fredrikstad<br/>
              +47 69 30 44 00
            </small></p>
          </div>
          
          <div class="col-lg-4">
            <p>Vårt nyhetsbrev</p>
            <p><small>Vi drifter nettmagasinet <a href="http://frontmag.no">Frontmag</a> - abonnér gjerne på vårt nyhetsbrev og få nyttige reportasjer</small></p>
            <p>
              <form action="http://front.us1.list-manage1.com/subscribe/post?u=ae5db4e13b2cb5eec4e782ecb&amp;id=a722997e02" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate ng-pristine ng-valid" target="_blank">
                <div class="mc-field-group">
                  <input placeholder="din@epost.no" type="email" value="" name="EMAIL" class="form-text required email form-control flat"  id="mce-EMAIL">
                </div>
                
                  <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                  </div>
                  <div class="clear">
                    <br>
                    <input type="submit" value="Bli med" name="subscribe" id="mc-embedded-subscribe" class="btn btn-wide btn-primary">
                  </div>
                </form>
            </p>
          </div>
          
        </div><!-- /row -->
      </div><!-- /container -->
    </div><!-- /Footer -->
  
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/retina.js"></script>

    <!-- StatCounter -->
    <script type="text/javascript">
      var sc_project=8171467;
      var sc_invisible=1;
      var sc_security="007298d9";
    </script>
    <script type="text/javascript" src="http://www.statcounter.com/counter/counter.js"></script>
    <!-- / StatCounter  -->

  </body>
</html>
