<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title> {% if page.title %} {{ page.title }} | {% endif %} Utvikle apps | App utvikling for iPhone + Android</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="Frontkom">
    <link rel="shortcut icon" href="/assets/images/favicon/favicon.png">

    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet">
    <link href="/assets/css/flat-ui.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/assets/css/main.css" rel="stylesheet">

  <link rel="stylesheet" href="/assets/css/revolution.css" media="screen"/>
  <link rel="stylesheet" href="/assets/css/media-slideshow.css" media="screen"/>


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/assets/js/html5shiv.js"></script>
      <script src="/assets/js/respond.min.js"></script>
    <![endif]-->
    
  <script type="text/javascript" src="/assets/js/modernizr.custom.79639.js"></script> 
    <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-30600330-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  </script>
  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Apputvikling</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="">
                <a href="/ios">iOS apps</a>
              </li>
               <li class="">
                <a href="/android">Android apps</a>
              </li>
              <li class="">
                <a href="/html5-vs-app">Mobil web vs ekte app</a>
              </li>
              <li class="">
                <a href="/metode/">Prosjektmetoder</a>
              </li>
              <li class="">
                <a href="/referanser/">Referanser</a>
              </li>
              <li class="">
                <a href="/kontakt">Kontakt</a>
              </li>
            
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>


  {{ content }}
  
  
  <!-- FOOTER -->
  <div id="f">
    <div class="container">
      <div class="row">
        <h5 class="centered">Kontakt oss for apps</h5>
        <br>
        
        <div class="col-lg-4">
          <p>OM <b>FRONT</b> APPUTVIKLING</p>
          <p class="muted"><a href="http://www.apputvikling.no">Apputvikling.no</a> er en avdeling av <a href="http://www.frontkom.no">Frontkom</a>, og holder til i Gamlebyen i Fredrikstad. <br><strong>Telefon: 69 30 44 00</strong>.</p>
        </div>

        <div class="col-lg-4">
          <p>Hovedkontor</p>
          <p><small>
            Torvgaten 64<br/>
            1632 Gamle Fredrikstad<br/>
            +47 69 30 44 00
          </small></p>
        </div>
        
        <div class="col-lg-4">
          <p>Vårt nyhetsbrev</p>
          <p><small>Vi drifter nettmagasinet <a href="http://frontmag.no">Frontmag</a> - abonnér gjerne på vårt nyhetsbrev og få nyttige reportasjer</small></p>
          <p><input type="text" placeholder="Epost her" class="form-control flat" /></p>
        </div>
        
      </div><!-- /row -->
    </div><!-- /container -->
  </div><!-- /Footer -->
  


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/retina.js"></script>

    <!-- StatCounter -->
    <script type="text/javascript">
      var sc_project=8171467;
      var sc_invisible=1;
      var sc_security="007298d9";
    </script>
    <script type="text/javascript" src="http://www.statcounter.com/counter/counter.js"></script>
    <!-- / StatCounter  -->

  </body>
</html>
